{% extends 'publico/base.html' %}
{% load static %}
{% block contenido_principal %}


    <div class="">
        <div class=" mt-2 col-md">
            <div class="text-center ">
                <h2 class="mt-3">Rentabilidad Esperada de Una Cartera: Calculadora de Markowitz</h2>
            </div>
        </div><hr class="bg-success">
        <div class="mt-1">
            <!-- Formulario -->
            <form id="portfolioForm" class="col-md m-2">
                <div id="assetsContainer"></div>

                <div id="correlationsContainer"></div>

                <div class="mb-3">
                    <button id="addAsset"  class="btn bg-info w-100" >Agregar Activo</button>
                </div><hr>

                <button type="submit" class="btn bg-success w-100">Calcular</button>
            </form>

            <!-- Resultados -->
            <div class="mt-4 container">
                <h3>Resultados</h3>
                <p>Rentabilidad Esperada: <span id="expectedReturn">0.00%</span></p>
                <p>Riesgo de la Cartera: <span id="portfolioRisk">0.00%</span></p>
            </div>

            <!-- Explicación en Palabras -->
            <div class="mt-4 container">
                <h3>Explicación de Resultados</h3>
                <p id="explanationText"></p>
            </div>

            <!-- Gráfico -->
            <div class="mt-4">
                <canvas id="portfolioChart"></canvas>
            </div>
        </div>

    </div>
    





{% endblock %}