{% extends 'sitio/base.html' %}
{% load static %}
{% block titulo %}
<title>Categorías</title>
{% endblock %}
{% block contenido_principal %}
<div class="col-md mt-4">
	<div class="site-section">
		{% if mensaje %}
		<div class="alert alert-success alert-dismissible ">
			<a href="#" class="close display-3" data-dismiss="alert" aria-label="Cerrar">&times;</a>
			<em class="font-weight-bold text-center">{{ mensaje }}.</em>
		</div>
		{% endif %}
		<h3 class="text-center"> Categorias de Producto </h3><hr class="bg-white">
		<button class="btn icon-tag col-md-6" data-toggle="modal" data-target="#modal_crear_categoria"> Crear Categoría</button><hr class="bg-white">
		<div class="modal fade text-dark col-md" id="modal_crear_categoria" tabindex="-1" role="dialog" aria-labelledby="modal_crear_categoria" aria-hidden="true" >
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" style="background-color: rgb(33 ,33 , 33); color: #fff;">
					<div class="modal-header">
						<p class="text-center  col-md font-weight-bold"> 
							<em class="font-weight-bold text-white"> Crear Categoría</em><br>
						</p>
						<button type="button" class="close display-3 " data-dismiss="modal" aria-label="Cerrar">
							<span aria-hidden="true" class="text-danger"><font size="6">&times;</font></span>
						</button>
					</div>
					<div class="modal-body">
						<form autocomplete="off" method="POST" action="{% url 'sitio:guardar_categoria' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md mt-2">
								<label class="icon-tag" for="nombre"> Nombre de la Categoría</label>
								<input type="text" name="nombre" id="nombre" class="form-control text-center" placeholder="Nombre de la categoría" required>
							</div><hr class="bg-white">
							<hr class="bg-white">
							<div class="col-md mt-2">
								<label class="icon-image" for="imagen_categoria"> Imagen de la Categoría</label>
								<input type="file" name="imagen" id="imagen" class="form-control" accept="image/*">
							</div>
							<hr class="bg-white">
							<button class="col-md icon-check btn" type=""> Aceptar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="lista de categorias">
			<h5 class="text-center"> Lista de Categorías </h5><hr class="bg-white">
			{% for i in categorias %}
			<details class=" mt-4 border">
				<summary class="btn icon-tag col-md"> {{ i.nombre }}</summary> 
				<ul class="mt-3">
					<li> Imagen de la Categoría :<br>
						{% if i.imagen %}<span><img  src="{{ i.imagen.url }}" class="" alt="Imagen {{ i.nombre }}" width="auto" height="80"></Img></span>{% endif %}
					</li>
				</ul><hr class="bg-white">
				<div class="botones col-md">
					<a class="btn icon-edit" data-toggle="modal" data-target="#modal_editar_categoria{{ i.id }}" title="Editar" aria-label="Editar" ></a>
					<a class="btn icon-trash-o m-2" data-toggle="modal" data-target="#modal_eliminar_categoria{{ i.id }}" title="Eliminar" aria-label="Eliminar"></a>
				</div>
				<div class="modal fade text-dark col-md" id="modal_editar_categoria{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_editar_categoria" aria-hidden="true" >
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content" style="background-color: rgb(33 ,33 , 33); color: #fff;">
							<div class="modal-header">
								<p class="text-center  col-md font-weight-bold"> 
									<em class="font-weight-bold text-white"> Editar Categoría</em><br>
								</p>
								<button type="button" class="close display-3 " data-dismiss="modal" aria-label="Cerrar">
									<span aria-hidden="true" class="text-danger"><font size="6">&times;</font></span>
								</button>
							</div>
							<div class="modal-body">
								<form autocomplete="off" method="POST" action="{% url 'sitio:editar_categoria' i.id %}" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="col-md mt-2">
										<label class="icon-tag" for="nombre"> Nombre de la Categoría</label>
										<input type="text" name="nombre" id="nombre" class="form-control text-center" placeholder="Nombre de la categoría" required value="{{ i.nombre }}">
									</div>
									<hr class="bg-white">
									<div class="col-md mt-2">
										<label class="icon-image" for="imagen_categoria"> Imagen de la Categoría</label>
										<input type="file" name="imagen" id="imagen" class="form-control" accept="image/*">
									</div>
									<hr class="bg-white">
									<button class="col-md icon-check btn" type=""> Aceptar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade text-dark col-md" id="modal_eliminar_categoria{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_eliminar_categoria" aria-hidden="true" >
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content" style="background-color: rgb(33 ,33 , 33); color: #fff;">
							<div class="modal-header">
								<p class="text-center  col-md font-weight-bold"> 
									<em class="font-weight-bold text-white"> Eliminar Categoría</em><br>
								</p>
								<button type="button" class="close display-3 " data-dismiss="modal" aria-label="Cerrar">
									<span aria-hidden="true" class="text-danger"><font size="6">&times;</font></span>
								</button>
							</div>
							<div class="modal-body">
								<p class="text-justify lead">
									<em class="font-weight-bold">¡ CUIDADO !</em> Si elimina la categoria se borrarà toda la informaciòn de los productos pertenecientes. 
								</p><hr class="bg-white">
								<a href="{% url 'sitio:eliminar_categoria' i.id %}" class="btn icon-trash-o m-2" title="Eliminar" aria-label="Eliminar"></a>
							</div>
						</div>
					</div>
				</div>
			</details>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
